<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ page.author }}" />

  <link rel="stylesheet" href="css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/pygments.css" type="text/css" />
</head>
<body>
    <div class="row">
        <header class="header">
            <div class="twelve columns">
                <a class="title" href="/">{{ page.title }}</a>
                <span class="subtitle">{{ page.description }}</span>
            </div>

            <div class="ribbon">
                <a href="{{ page.project_url }}">
                    <img style="position: absolute; top: 0; right: 0; border: 0;z-index: 400;" src="images/ribbon.png" alt="Fork me on GitHub" />
                </a>
            </div>
        </header>

        <div class="content">
            <div class="twelve columns">{{ content }}</div>
        </div>

        <div id="copyright" class="twelve columns">
            <p>Project maintained by <a href="http://github.com/K-Phoen/">Kévin Gomez</a>.</p>
        </div>
    </div>
</body>
</html>

